* {
    font-family: "JetBrains Mono", monospace;
}

h1 {
    font-weight: bold;
    font-size: 1.875rem;
}

.nav-items {
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1.25rem;
    font-style: normal;
    
    color: #757171;
}

.nav-item:hover {
    text-decoration-line: underline;
}