* {
    font-family: "JetBrains Mono", monospace;
}

h1 {
    font-weight: bold;
    font-size: 1.875rem;
    margin-bottom: 2rem;
}

h2 {
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 0.875rem;
}

.nav-items {
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1.25rem;
    font-style: normal;
    
    color: #757171;
}

.logo {
    font-weight: bold;
    font-size: 1.875rem;
    color: black;
    position: relative;
}

.logo-line::after {
    position: absolute;
    content:'';
    background-color: #64C9D8;
    width: 100%;
    height: 1.1rem;
    top: 1.0rem;
    left:1px;
    z-index: -99;
}

.nav-item:hover {
    text-decoration-line: underline;
}

.blog-date {
    font-weight: bold;
    font-size: 0.875rem;
    color: #757171;
    margin-bottom: 0.5rem;
}

.read-more {
    font-size: 1rem;
    text-decoration: underline;
}