---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contact me">
	<main class="mt-16">
        <h1>Hit me up!</h1>
        
        <p>You can find me all over the internet:</p>
        
        <ul class="ml-4 mt-6">
            <li class="mb-2">> <a style="text-decoration: underline;" href="https://bsky.app/profile/stijnvanderwielen.be" target="_blank" rel="noreferrer">BlueSky</a></li>
            <li class="mb-2">> <a style="text-decoration: underline;" href="https://mastodon.social/@stijnvanderwielen" target="_blank" rel="noreferrer">Mastodon</a></li>
            <li class="mb-2">> <a style="text-decoration: underline;" href="https://www.linkedin.com/in/stijn-van-der-wielen-34178522/" target="_blank" rel="noreferrer">LinkedIn</a></li>
            <li class="mb-2">> <a style="text-decoration: underline;" href="https://www.strava.com/athletes/7212244" target="_blank" rel="noreferrer">Strava</a></li>
        </ul>
	</main>
</Layout>