---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import localDesigner from '../../src/images/Designer.jpeg';
---

<Layout title="Who's Stijn van der Wielen?">
	<main class="md:mt-16">
		<div class="grid gap-20 md:grid-cols-2">
			<div class="grid">
				<h1>Who am I?</h1>
				<div>
					<p>
						I'm <a style="text-decoration: underline;" target="_blank" rel="noopener noreferrer" href="https://bsky.app/profile/stijnvanderwielen.be">@stijnvanderwielen</a>, a full-stack developer, runner, and a proud nerd.
					</p>
					<br>
					<p>
						This website is my place on the internet to share my thoughts with the world.
					</p>
					<br>	
					<p>
						Currently I'm lucky to get paid to program in Java and Angular. In my spare time I like to experiment with new frameworks like this website build with Astro and Deno.
					</p>
					
				</div>
			</div>
			<div class="flex justify-center">
				<Image class="rounded-full w-80 h-80 flex" src={localDesigner} loading="eager" alt="Cartoon face of Stijn." />
			</div>
			
		</div>
	</main>
</Layout>
